<div class="pages index">
	
	<div class="projects">
		<h1>Current Projects</h1>
		<ul>
			<li>
				<h1>
					<a href="http://coapp.co" target="_blank">Co</a></h1>
				<h2>Where Your Worlds Converge</h2>
			</li>
		</ul>
	</div>
	
</div>


