/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* General Styles */

html, body {
	margin:0px;
	padding:0px;
}

body {
	background:url('../assets/bg-tree.png') #f0f6f0;
	color:#222;
	font-family:Helvetica, Arial, sans-serif;
	padding:0px;
	margin:0px;
}

a, a:hover, a:visited, a:active {
	text-decoration:none;
	outline: none;
	color:#333;
}

a:hover {
	text-decoration:underline;
}

h1, h2, h3, h4 {

}

ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

/* General Classes */

.hidden {
	display:none !important;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	display:block;
	clear:both;
	height:1px;
	width:1px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #555;
	-webkit-box-shadow: 3px 3px 4px #555;
	box-shadow: 3px 3px 4px #555;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}

/* Header */

#header {
	text-align:center;
	width:100%;
	padding:0px 0px 20px;
	background:#132448;
	margin:0 auto;
	color:#eee;
	height:90px;
	border-top:1px solid #542b11;
	border-bottom:2px solid #542b11;
	position:relative;
}

#header h1 {
	color:#ddd;
	font-size:90px;
	margin:0px;
	font-weight:normal;
	letter-spacing:8px;
	text-shadow:1px 1px 1px #888888;
	font-family: 'Raleway Dots', cursive;
}

#header h2 {
	color:#6eb2af;
	font-family: 'Black Ops One', cursive;
	font-weight:normal;
	font-size:60px;
	margin:0px auto;
	padding:0px;
	position:relative;
	top:-300px;
	left:270px;
	width:500px;
	z-index:10;
	
	-moz-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
	
	/* initial position (pre-animation) */
	display:none;
}

#header h2.animationDone {
	display:block;
	top:-39px;
}

#header .stamp {
	position:relative;
	right:-800px;
	top:-300px;
	width:400px;
	margin:0px auto;
	z-index:100;
	
	-moz-transition: 0.6s ease-in;
	-webkit-transition: 0.6s ease-in;
	-o-transition: 0.6s ease-in;
	-ms-transition: 0.6s ease-in;
	transition: 0.6s ease-in;
	
	/* Rotation to simulate stamp movement */
	-moz-transform:perspective(200px) rotate3d(0, 1, 1, 80deg);
	-webkit-transform:perspective(200px) rotate3d(0, 1, 1, 80deg);
	-o-transform:perspective(200px) rotate3d(0, 1, 1, 80deg);
	-ms-transform:perspective(200px) rotate3d(0, 1, 1, 80deg);
	transform:perspective(200px) rotate3d(0, 1, 1, 80deg);
	
	-moz-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
}

#header .stamp.dostamp {
	/* Restore stamp to normal rotation */
	-moz-transform:perspective(100px) rotate3d(0, 0, 0, 0deg);
	-webkit-transform:perspective(100px) rotate3d(0, 0, 0, 0deg);
	-o-transform:perspective(100px) rotate3d(0, 0, 0, 0deg);
	-ms-transform:perspective(100px) rotate3d(0, 0, 0, 0deg);
	transform:perspective(100px) rotate3d(0, 0, 0, 0deg);
	
	-moz-transform-origin:50% 30%;
	-webkit-transform-origin:50% 30%;
	-o-transform-origin:50% 30%;
	-ms-transform-origin:50% 30%;
	transform-origin:50% 30%;
	
	top:-160px;
	right:-280px;	
}

#header .stamp img {
	width:220px;
}

/* Content */

#content {
	min-height:300px;
}


/* Footer */

#footer {
	font-size:11px;
	padding:5px;
	position:fixed;
	bottom:0px;
}

#footer .copyright {
	float:right;
	text-align:right;
	color:#132448;
}
