/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* General Styles */

html, body {
	margin:0px;
	padding:0px;
}

body {
	background:#fdf4ea;
	color:#222;
	font-family:Helvetica, Arial, sans-serif;
	padding:0px;
	margin:0px;
}

a, a:hover, a:visited, a:active {
	text-decoration:none;
	outline: none;
	color:#333;
}

a:hover {
	text-decoration:underline;
}

h1, h2, h3, h4 {

}

ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

/* General Classes */

.hidden {
	display:none !important;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	display:block;
	clear:both;
	height:1px;
	width:1px;
}

/* Header */

#header {
	text-align:center;
	width:900px;
	padding:20px 50px 10px;
	background:#222;
	margin:0 auto;
	color:#eee;
}

#header h1 {
	font-size:85px;
	margin:0px;
}

#header h2 {
	color:#086ca2;
	font-size:20px;
	width:500px;
	margin:0 auto;
	text-align:right;
	position:relative;
	top:-10px;
	font-weight:normal;
}

/* Content */

#content {
	min-height:500px;
}


/* Footer */

#footer {
	font-size:11px;
	padding:5px;
}

#footer .copyright {
	float:right;
	text-align:right;
}
